<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from themes.potenzaglobalsolutions.com/html/academic/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Aug 2022 14:49:21 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Dzingoo Formations Consultants" />
    <meta name="description" content="Site des formateurs Dzingoo" />
    <meta name="author" content="nibenz.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dzingoo - A propos de nous</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&amp;display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>

    <!--=================================
    Header -->
    <%- include('partials/header.ejs') %> 
    <!--=================================
    Header -->

    <!--=================================
    inner-header -->
    <section class="inner-banner bg-overlay-black-70 bg-holder" style="background-image: url('images/bg/23.jpg');">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="text-center">
              <h1 class="text-white">A propos de nous</h1>
            </div>
            <div class="d-flex justify-content-center ">
              <ol class="breadcrumb mb-0 p-0">
              <!-- <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
              <li class="breadcrumb-item active"><span>About us</span></li> -->
            </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================

    counter -->
    <%- include('partials/stat_widget_anim.ejs') %>
    <!--=================================
    counter -->
    <!--=================================
    about -->
    <section class="space-ptb" style="background-image: url(images/bg/24.jpg); background-repeat: no-repeat; background-position: right; background-size: cover;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-9">
            <div class="section-title mb-4">
              <h2 class="title">Les consultants <span class="text-primary"> DZINGOO</span> sont des experts reconnus dans leur domaine de compétences alliant expérience terrain et savoir-faire professionnel. 
                </h2>
              <p class="lead" style="color: white">Par leurs interventions en formation ou en conseil, ils s'engagent à transmettre les valeurs DZINGOO, toutes orientées vers le respect de ses clients et la performance de ce partenariat. <br> Formateurs et chefs de projets travaillent toute l’année pour vous apporter de nouveaux programmes, de nouvelles méthodes pédagogiques et des solutions à vos contraintes de temps ou de lieu.</p>
              <p class="mb-0" style="color: white">DZINGOO, c’est aussi une équipe qui vous accompagne dans la mise en place de vos formations :
                •	En inter entreprise, nos conseillers vous orientent vers la formation qui correspond le mieux à vos attentes et à votre emploi du temps
                •	En intra entreprise, nos chefs de projets étudient avec vous les différentes approches possibles, vous établissent un programme sur mesure et vous présentent un formateur qualifié
                Notre métier :
                •	Formation inter-entreprise 
                •	Formation intra entreprise : stages et formation sur mesure
                •	Conseil en entreprise : plus de 30 modules adaptables
                •	L’ingénierie de formation en intra : une approche sur mesure
                Les valeurs de notre organisme:
                •	Réactivité
                •	Disponibilité
                •	Professionnalisme
                •	Qualité
                </p>
            </div>
              <a href="/catalogue_formations" class="btn btn-primary btn-round">Catalogue de formations</a>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    about -->

    <!--=================================
    

    <!--=================================
    Team -->
    <%- include('partials/equipe_formateurs.ejs') %> 
    <!--=================================
    Team -->

    <!--=================================
    Testimonial-->
    <section class="space-ptb bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel testimonial-center" data-nav-arrow="false" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoheight="true">
              <!-- item-01 START -->
              <div class="item">
                <div class="testimonial-item">
                  <div class="testimonial-quote text-center mb-4">
                    <i class="fas fa-quote-left fa-2x text-white"></i>
                  </div>
                    <div class="text-center">
                      <h3 class="mb-4">Le mot du Manager</h3>
                    </div>
                  <div class="testimonial-content">
                    <p>Bienvenue chez Dzingoo.</p>
                  </div>
                  <div class="testimonial-author">
                    <div class="testimonial-avatar avatar avatar-md mr-0">
                      <img class="img-fluid " src="images/team/08.jpg" alt="">
                    </div>
                    <div class="testimonial-name">
                      <h5 class="name">M. YENGOUI</h5>
                      <span>Manager general</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item-01 END -->

              
              <!-- <div class="item">
                <div class="testimonial-item">
                  <div class="testimonial-quote text-center mb-4">
                    <i class="fas fa-quote-left fa-2x text-white"></i>
                  </div>
                    <div class="text-center">
                      <h3 class="mb-4">University impressed me on multiple levels. I wish I would have  <span class="text-primary">thought of it first.</span></h3>
                    </div>
                  <div class="testimonial-content">
                    <p>They are intentional because these changes are changes that you are choosing and they are the changes that will cause you to live the life you want to live and dream.</p>
                  </div>
                  <div class="testimonial-author">
                    <div class="testimonial-avatar avatar avatar-md mr-0">
                      <img class="img-fluid " src="images/avatar/05.jpg" alt="">
                    </div>
                    <div class="testimonial-name">
                      <h5 class="name">Hali D.</h5>
                      <span>- Marketing Expert</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="testimonial-quote text-center mb-4">
                    <i class="fas fa-quote-left fa-2x text-white"></i>
                  </div>
                    <div class="text-center">
                      <h3 class="mb-4">Thanks guys, keep up the good work! I didn't <span class="text-primary">even need training.</span></h3>
                    </div>
                  <div class="testimonial-content">
                    <p>They often mean leaving the perception of security in order to discover your personal freedom. These are the changes that will bring happiness and satisfaction into your life. Just go there now.</p>
                  </div>
                  <div class="testimonial-author">
                    <div class="testimonial-avatar avatar avatar-md mr-0">
                      <img class="img-fluid " src="images/avatar/03.jpg" alt="">
                    </div>
                    <div class="testimonial-name">
                      <h5 class="name">Sumner N.</h5>
                      <span>- Team Leader</span>
                    </div>
                  </div>
                </div>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Testimonial-->

    <!--=================================
    client-->
    <section class="py-5">
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="owl-carousel our-clients bg-white p-0" data-nav-arrow="false" data-items="5" data-md-items="4" data-sm-items="3" data-xs-items="2" data-xx-items="1" data-space="0" data-autoheight="true">
                  <!-- item-01 START -->
                  <div class="item">
                    <img class="img-fluid center-block mx-auto grayscale" src="images/client/01.svg" alt="">
                  </div>
                  <!-- item-01 End -->

                  <!-- item-02 START -->
                  <div class="item">
                    <img class="img-fluid center-block mx-auto grayscale" src="images/client/02.svg" alt="">
                  </div>
                  <!-- item-02 End -->

                  <!-- item-03 START -->
                  <div class="item">
                    <img class="img-fluid center-block mx-auto grayscale" src="images/client/03.svg" alt="">
                  </div>
                  <!-- item-03 End -->

                  <!-- item-04 START -->
                  <div class="item">
                    <img class="img-fluid center-block mx-auto grayscale" src="images/client/04.svg" alt="">
                  </div>
                  <!-- item-04 End -->

                  <!-- item-05 START -->
                  <div class="item">
                    <img class="img-fluid center-block mx-auto grayscale" src="images/client/05.svg" alt="">
                  </div>
                  <!-- item-05 End -->

                  <!-- item-06 START -->
                  <div class="item">
                    <img class="img-fluid center-block mx-auto grayscale" src="images/client/06.svg" alt="">
                  </div>
                  <!-- item-06 End -->

                  <!-- item-07 START -->
                  <div class="item">
                    <img class="img-fluid center-block mx-auto grayscale" src="images/client/07.svg" alt="">
                  </div>
                  <!-- item-07 End -->
                </div>
            </div>
          </div>
        </div>
      </section>
    <!--=================================
    client-->

    <%- include('partials/stat_widget.ejs') %>
    <!--=================================
    client-->
      <div class="mb-5"></div>

    <!--=================================
    Footer-->
    <%- include('partials/footer.ejs') %>
    <!--=================================
    Footer-->

    <!--=================================
    Back To Top-->
    <div id="back-to-top" class="back-to-top">Top</div>
    <!--=================================
    Back To Top-->

    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/jquery.appear.js"></script>
    <script src="js/counter/jquery.countTo.js"></script>
    <script src="js/owl-carousel/owl.carousel.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>

  </body>


<!-- Mirrored from themes.potenzaglobalsolutions.com/html/academic/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Aug 2022 14:49:21 GMT -->
</html>
