<!DOCTYPE html>
<html lang="fr">
  <!-- Mirrored from themes.potenzaglobalsolutions.com/html/academic/index-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Aug 2022 14:49:20 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="Dzingoo - Formations, Education pour les entreprise" />
    <meta
      name="description"
      content="Dzingoo - Formations, Education pour les entreprise"
    />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dzingoo - Formations, Education pour les entreprises</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/logo_dzingoo.png" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&amp;display=swap"
      rel="stylesheet"
    />

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="css/swiper/swiper.min.css" />
    <link rel="stylesheet" href="css/animate/animate.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!--=================================
    Header -->
    <%- include('partials/header.ejs') %> 
    <!--=================================
    Header -->

    <!--=================================
    Banner -->
    <section class="banner position-ralative">
      <div id="main-slider" class="swiper-container h-800 h-lg-700 h-md-600 h-sm-400">
        <div class="swiper-wrapper">
          <!-- Swiper Slider 1-->
          <div class="swiper-slide align-items-center d-flex bg-overlay-black-40" style="background-image: url(images/bg/01.jpg); background-size: cover; background-position: center center;">
            <div class="swipeinner container">
              <div class="row justify-content-center text-center">
                <div class="col-lg-10 col-md-12">
                  <div class="slider-1">
                    <div class="animated" data-swiper-animation="fadeInUp" data-duration="1s" data-delay="0.25s">
                      <img src="images/logo_dzingoo.png" alt="Logo" height="101" />
                      <h1 class="animated text-white mb-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Organisme de formation professionnelle pour les entreprises.</h1>
                      <div class="animated text-white px-lg-5" data-swiper-animation="fadeInUp" data-duration="2.5s" data-delay="0.25s">
                        <p class="d-none d-sm-block">Nous  proposons un catalogue de plus de formation réparties sur les  thématiques,  des métiers pratique des entreprises , du management à la sécurité en entreprise.
                          Nous  vous accompagnons dans la mise en place d’actions de formation nécessaires à votre organisation. Du développement des compétences à l’adaptation au poste de travail, nous  en mesure de répondre à la totalité des besoins en formation d’une entreprise.
                          .</p>
                      </div>
                      <a href="/a_propos" class="animated4 btn btn-white mt-4 mr-1 mr-sm-2" data-swiper-animation="fadeInUp" data-duration="3.5s" data-delay="0.25s">Lire plus<span></span></a>
                      <a href="/catalogue_formations" class="animated4 btn btn-primary mt-4 ml-1 ml-sm-2" data-swiper-animation="fadeInUp" data-duration="3.5s" data-delay="0.25s">Catalogue de formations<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Slider 2-->
          <div class="swiper-slide align-items-center d-flex bg-overlay-black-40" style="background-image: url(images/bg/03.jpg); background-size: cover; background-position: center center;">
            <div class="swipeinner container">
              <div class="row justify-content-start">
                <div class="col-xl-8 col-lg-10 col-md-12">
                  <div class="slider-2">
                    <div class="animated" data-swiper-animation="fadeInUp" data-duration="1s" data-delay="0.25s">
                      <h1 class="animated text-white mb-4" data-swiper-animation="fadeInUp" data-duration="1s" data-delay="0.25s">Les consultants Dzingoo</h1>
                      <div class="animated text-dark" data-swiper-animation="fadeInUp" data-duration="2.5s" data-delay="0.25s">
                       <p class="text-white d-none d-sm-block">
                        Notre mobilité et notre disponibilité nous permettent de proposer des formations clés en main ou sur-mesure, en présentiel et à distance :
                        Formations en entreprise (intra entreprise), au Gabon et ailleurs
                        Formations en inter entreprise, dans nos locaux
                        Formations à distance
                        Nos stages de montée en compétences s’adressent uniquement aux employeurs, aux salariés ou aux indépendants.
                        Participez à une formation professionnelle de qualité en nous contactant par mail ou par téléphone, ou en vous inscrivant directement à la session de votre choix.</p>
                      </div>
                      <a href="/" class="animated4 btn btn-dark mt-4" data-swiper-animation="fadeInUp" data-duration="3s" data-delay="0.25s">Lire moins<span></span></a>
                      <a href="/catalogue_formations" class="animated4 btn btn-primary mt-4 ml-1 ml-sm-2" data-swiper-animation="fadeInUp" data-duration="3.5s" data-delay="0.25s">Catalogue de formations<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!-- Pagination -->
      <div class="swiper-button-prev text-white"><i class="fa fa-arrow-left"></i></div>
      <div class="swiper-button-next text-white"><i class="fa fa-arrow-right"></i></div>
    </section>
    <!--=================================
    Banner -->

    <!--=================================
    Form -->
    <section class="mt-md-n5 mt-4 mb-4 position-relative z-index-9">
       
      <div class="container">
        <form action="/send_project" method="post" class="course-form border-radius">
          <div class="row">
            <div class="col-md-12 justify-content-center text-center">
              <%- include("partials/messages.ejs") %>
              <h4>Faites nous part de votre projet</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3 mb-md-0">
             
              <div class="form-group mb-0">
                <label>Votre adress mail</label>
                <input class="form-control" type="email" id="name" name="email" placeholder="Saisir votre mail">
                <i class="far fa-envelope"></i>
              </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
             
              <div class="form-group mb-0">
                <label>N. de téléphone</label>
                <input class="form-control" type="tel" id="name" name="telephone" placeholder="Saisir N. téléphone">
                <i class="fa fa-phone"></i>
              </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
              
              <div class="form-group mb-0">
                <label>Votre message</label>
                <input class="form-control" type="text" id="name" name="message" placeholder="Saisir votre message">
                <i class="far fa-user"></i>
              </div>
            </div>
            
            <div class="col-md-3 align-self-center">
              <div class="course-serach">
                <input class="btn btn-dark btn-block mt-md-4" type="submit" value="Envoyer">
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!--=================================
    Form -->

    <!--=================================
    Fearture icon -->
    <%- include('partials/stat_widget_anim.ejs') %> 
    <!--=================================
     Why choose us -->
     <section class="bg-dark mt-2">
      <div class="container-fluid">
        <div class="row no-guuters">
          <div class="col-lg-6 bg-holder d-none d-lg-block" style="background-image: url(images/bg/presentation-classroom.jpg); background-repeat: no-repeat;
          ">
          </div>
          <div class="col-lg-6 px-4 px-md-5 px-lg-6 py-6 px-lg-6" style="background-image: url(images/about/pattern.png);">
            <div class="section-title">
              <h2 class="title">Pourquoi choisir DZINGOO ?</h2>
              <!-- <p class="mb-0">Let success motivate you. Find a picture of what epitomizes success to you and then pull it out when you are in need of motivation.</p> -->
            </div>
            <div class="media">
              <i class="flaticon-knowledge mr-3 fa-3x text-white border border-white border-radius p-3 mb-0 font-weight-normal"></i>
              <div class="media-body">
                <h5 class="mt-0 mb-3">Formation sur mesure</h5>
                <p class="text-white mb-0">Les programmes de formation, présents dans notre catalogue, ont été créés pour répondre à la plus large demande (contexte juridique, sociétal, évolution des pratiques, etc.) et aux critères et aux compétences requises dans chaque domaine.

                     Toutefois, nos clients peuvent avoir des attentes, des besoins, des contraintes ou une problématique qui supposent de développer un programme de formation sur mesure hors catalogue.
                     Fort de son expertise, nous sommes  en mesure de vous proposer une solution adaptée à chaque situation dès lors qu'il s'agit de formation. Dans ce cas, proposons  de mettre en place un programme de formation sur-mesure qui répond à vos attentes et au niveau des participants.
                     Avec plus de 30 formateurs, Dzingoo peut vous accompagner sur des projets pouvant aller de 1 à plusieurs milliers de stagiaires à former au Gabon  et à l'international.
                  </p>
              </div>
            </div>
            <span class="border-bottom d-block my-5 border-light"></span>
            <div class="media">
              <i class="flaticon-mortarboard-2 mr-3 fa-3x text-white border border-white border-radius p-3 mb-0 font-weight-normal"></i>
              <div class="media-body">
                <h5 class="mt-0 mb-3">Quels sont les objectifs de la formation professionnelle ?</h5>
                <p class="text-white mb-0">La formation professionnelle continue vise à acquérir de nouvelles compétences métier, ou à adapter les existantes. Elle s’inscrit dans le cadre du parcours professionnel des salariés.
                  La formation continue complète, dans un objectif d’optimisation et d’adaptation, les compétences obtenues dans le cadre de la formation initiale. Se former tout au long de sa vie s’inscrit parfaitement dans une logique de reconversion et d’évolution professionnelles. Cela permet également de s’adapter aux changements liés à la réglementation et à l’actualité du monde du travail.
                  </p>
              </div>
            </div>
            <span class="border-bottom d-block my-5 border-light"></span>
            <div class="media">
              <i class="flaticon-team-1 mr-3 fa-3x text-white border border-white border-radius p-3 mb-0 font-weight-normal"></i>
              <div class="media-body">
                <h5 class="mt-0 mb-3">Des formations professionnelles en présentiel et à distance</h5>
                <p class="text-white mb-0">Nos formations professionnelles sont disponibles en présentiel, mais également à distance. Notre mobilité nationale nous permet de former des collaborateurs au Gabon et en Afrique et a l’internationale. Nos formateurs se déplacent directement dans vos locaux, dans le cadre d’une session en intra entreprise. Nous disposons également de centres de formation, pour des sessions en inter entreprise.
                  Dans le cadre d’une formation à distance, nous vous offrons la possibilité de former vos collaborateurs directement depuis chez eux ou depuis vos locaux.
                  Notez que certains programmes peuvent se dérouler sous forme de conférences. Si vous souhaitez plus d’informations, nous vous invitons à nous contacter.
                  NB : La majorité de notre catalogue est accessible aux salariés en situation de handicap. Des mesures de compensation et d’adaptation de l’apprentissage pourront être mises en place, suite à un entretien.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Why choose us -->

    <!--=================================
    Category -->
    <!-- <section class="space-ptb bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="mb-5">Learn by Doing</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-2 col-md-4 mb-3 mb-xl-0">
            <div class="category text-center">
              <a href="#" class="category-item bg-dark border-radius py-4">
                <div class="category-icon">
                  <i class="flaticon-medicine fa-3x text-white"></i>
                </div>
                <h5 class="mt-3">Medicine</h5>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-md-4 mb-3 mb-xl-0">
            <div class="category text-center">
              <a href="#" class="category-item py-4 bg-info border-radius">
                <div class="category-icon">
                  <i class="flaticon-first-aid-kit fa-3x text-white"></i>
                </div>
                <h5 class="mt-3 text-white">Pharmacy</h5>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-md-4 mb-3 mb-xl-0">
            <div class="category text-center">
              <a href="#" class="category-item py-4 bg-warning border-radius">
                <div class="category-icon">
                  <i class="flaticon-mental-health fa-3x text-white"></i>
                </div>
                <h5 class="mt-3 text-white">Psychology</h5>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-md-4 mb-3 mb-md-0">
            <div class="category text-center">
              <a href="#" class="category-item py-4 bg-success border-radius">
                <div class="category-icon">
                  <i class="flaticon-global fa-3x text-white"></i>
                </div>
                <h5 class="mt-3 text-white">Economics</h5>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-md-4 mb-3 mb-md-0">
            <div class="category text-center">
              <a href="#" class="category-item py-4 bg-secondary border-radius">
                <div class="category-icon">
                  <i class="flaticon-stock-market fa-3x text-white"></i>
                </div>
                <h5 class="mt-3 text-white">Business</h5>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="category text-center">
              <a href="#" class="category-item bg-danger border-radius py-4">
                <div class="category-icon">
                  <i class="flaticon-politics fa-3x text-white"></i>
                </div>
                <h5 class="mt-3 text-white">Politics</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <a class="btn btn-dark mr-3 mt-5" href="#">View All Categories</a>
        </div>
      </div>
    </section> -->
    <!--=================================
    Category -->

    <!--=================================
    About -->
    <section class="space-ptb">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0 pr-lg-5">
            <div class="position-relative pb-md-0 h-100 pr-md-6 pb-md-6">
              <img
                class="img-fluid border-radius"
                src="images/bg/group-african-paramedic-crew-doctors.jpg"
                alt="" style="height: 100%;"
              />
              <!-- <div class="position-absolute right-0 bottom-0 d-none d-md-block">
                <img
                  class="img-fluid border-radius"
                  src="images/bg/smiling-young-man-giving-presentation-marketing.jpg"
                  alt=""
                />
              </div> -->
            </div>
          </div>
          <div class="col-lg-6 pr-lg-6">
            <div class="section-title mb-4">
              <h3 class="title">Trouvez la formation professionnelle adaptée à vos besoins</h3>
              <!-- <p class="lead mb-0">
                Avec l'experience de nos formateurs-consultants
              </p> -->
            </div>
            <p class="mb-4 mb-md-5">
             
Dans le cadre d’une formation sur-mesure, nous saurons vous proposer des solutions innovantes et créatives, pour concevoir un programme adapté aux attentes de vos collaborateurs. Vous serez invité à réaliser un entretien visant à déterminer les points sur lesquels vous souhaitez former vos salariés.
L’objectif est d’offrir aux entreprises partenaires des formations de grande qualité, sur de nombreuses thématiques, les formations des métiers divers, le développement personnel, le management ou encore la santé et la sécurité au travail.
<br>
Vous trouverez des solutions pour répondre à vos obligations ou renforcer la compétitivité de votre entreprise. Notre large catalogue garantit un apprentissage propice au maintien et à l’évolution des pratiques professionnelles, en un minimum de temps. Nos formations ont une durée moyenne de deux jours.
<br>
Pour toute demande, nous vous invitons à nous contacter via nos formulaires de contact ou par téléphone. Les consultants sont à votre service pour vous offrir un accueil de qualité et répondre à toutes vos questions.

            </p>
            <!-- <a href="#" class="btn btn-primary btn-round">En savoir plus</a> -->
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    About -->

    <!--=================================
    Skill -->
    <section class="space-pb">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 pr-lg-6">
            <div class="section-title">
              <h2 class="title">
                Nos formations les plus demander
              </h2>
              <p class="mb-0">
                Ensemble des formations les plus solicité au pres des entreprises.
              </p>
            </div>
            <div class="our-partners">
              <h4 class="mb-4">Nos Partnenairs</h4>
              <div
                class="owl-carousel"
                data-nav-arrow="false"
                data-items="3"
                data-md-items="3"
                data-sm-items="3"
                data-xs-items="2"
                data-xx-items="1"
                data-space="0"
                data-autoheight="true"
              >
                <!-- item-01 START -->
                <div class="item">
                  <img
                    class="img-fluid center-block mx-auto grayscale"
                    src="images/client/01.svg"
                    alt=""
                  />
                </div>
                <!-- item-01 End -->

                <!-- item-02 START -->
                <div class="item">
                  <img
                    class="img-fluid center-block mx-auto grayscale"
                    src="images/client/02.svg"
                    alt=""
                  />
                </div>
                <!-- item-02 End -->

                <!-- item-03 START -->
                <div class="item">
                  <img
                    class="img-fluid center-block mx-auto grayscale"
                    src="images/client/03.svg"
                    alt=""
                  />
                </div>
                <!-- item-03 End -->

                <!-- item-04 START -->
                <div class="item">
                  <img
                    class="img-fluid center-block mx-auto grayscale"
                    src="images/client/04.svg"
                    alt=""
                  />
                </div>
                <!-- item-04 End -->

                <!-- item-05 START -->
                <div class="item">
                  <img
                    class="img-fluid center-block mx-auto grayscale"
                    src="images/client/05.svg"
                    alt=""
                  />
                </div>
                <!-- item-05 End -->

                <!-- item-06 START -->
                <div class="item">
                  <img
                    class="img-fluid center-block mx-auto grayscale"
                    src="images/client/06.svg"
                    alt=""
                  />
                </div>
                <!-- item-06 End -->

                <!-- item-07 START -->
                <div class="item">
                  <img
                    class="img-fluid center-block mx-auto grayscale"
                    src="images/client/07.svg"
                    alt=""
                  />
                </div>
                <!-- item-07 End -->
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Skill-bar START -->
            <div class="overflow-hidden">
              <div class="skill">
                <div
                  class="skill-bar"
                  data-percent="89"
                  data-delay="0"
                  data-type="%"
                >
                  <div class="skill-title">Formation en assurance</div>
                </div>
              </div>
              <div class="skill">
                <div
                  class="skill-bar"
                  data-percent="73"
                  data-delay="0"
                  data-type="%"
                >
                  <div class="skill-title">Formation comptabilité gestion</div>
                </div>
              </div>
              <div class="skill">
                <div
                  class="skill-bar"
                  data-percent="85"
                  data-delay="0"
                  data-type="%"
                >
                  <div class="skill-title">Formation hôtellerie restauration</div>
                </div>
              </div>
              <div class="skill">
                <div
                  class="skill-bar"
                  data-percent="60"
                  data-delay="0"
                  data-type="%"
                >
                  <div class="skill-title">Formation en sécourisme</div>
                </div>
              </div>
            </div>
            <!-- Skill-bar END -->
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Skill -->

    <!--=================================
    Event -->
    <section class="space-ptb bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="bg-white border-radius">
              <div class="bg-primary rounded-top p-4">
                <h3>Enregistrer vous ici</h3>
                <p class="text-white mb-0">
                  Nous vous recontacterons
                </p>
              </div>
              <form class="form-row mt-0 align-items-center p-4 p-lg-5">
                <div class="form-group col-12">
                  <label class="text-dark font-weight-bold">Noms et prénoms</label>
                  <input type="text" class="form-control" placeholder="" />
                </div>
                <div class="form-group col-12">
                  <label class="text-dark font-weight-bold"
                    >Adresse Email</label
                  >
                  <input type="email" class="form-control" placeholder="" />
                </div>
                <div class="form-group col-12">
                  <label class="text-dark font-weight-bold">Téléphone</label>
                  <input type="text" class="form-control" placeholder="" />
                </div>
                <div class="form-group col-12 mb-4">
                  <label class="text-dark font-weight-bold">Votre message</label>
                  <input type="text" class="form-control" placeholder="" />
                </div>
                <div class="form-group col-sm-12 mb-0">
                  <button type="submit" class="btn btn-primary">
                    Envoyer
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-7 mt-5 mt-lg-0">
            <div class="row mb-4 mb-md-0">
              <div class="col-md-8">
                <div class="section-title">
                  <h2>Nos évenements</h2>
                  <p class="mb-0">
                    Evenements Dzingoo à venir (Blog)
                  </p>
                </div>
              </div>
              <!-- <div class="col-md-4 text-md-right">
                <a class="btn btn-white" href="#">Voir tout</a>
              </div> -->
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="event-list bg-white border-radius mb-3 p-3">
                  <div class="d-sm-flex">
                    <div class="event-img">
                      <img
                        class="w-100 border-radius"
                        src="images/bg/09.jpg"
                        alt=""
                      />
                    </div>
                    <div class="event-content pl-sm-4 pt-4 p-sm-0">
                      <a href="#" class="text-dark h5"
                        >Journée portes ouvertes chez nous</a
                      >
                      <div class="event-meta my-3">
                        <ul class="list-unstyled mb-0 d-flex">
                          <li class="mr-3">
                            <a href="#"
                              ><i class="fas fa-calendar-alt pr-1"></i> 12 Nov,
                              2022</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><i class="fas fa-clock pr-1"></i> 9:00 AM - 11:00
                              AM</a
                            >
                          </li>
                        </ul>
                      </div>
                      <p class="text-dark">
                        Venez nombreux prendre connaissances de toutes nos activités et prenez un entretient gratuit sur place.
                      </p>
                      <a class="btn btn-sm btn-dark btn-round" href="#"
                        >Détails de l'évennement</a
                      >
                    </div>
                  </div>
                </div>
                <!-- <div class="event-list bg-white border-radius p-3">
                  <div class="d-sm-flex">
                    <div class="event-img">
                      <img
                        class="w-100 border-radius"
                        src="images/events/list/02.jpg"
                        alt=""
                      />
                    </div>
                    <div class="event-content pl-sm-4 pt-4 p-sm-0">
                      <a href="event-detail.html#" class="text-dark h5"
                        >Protecting our most vulnerable populations</a
                      >
                      <div class="event-meta my-3">
                        <ul class="list-unstyled mb-0 d-flex">
                          <li class="mr-3">
                            <a href="#"
                              ><i class="fas fa-calendar-alt pr-1"></i> 22 Oct,
                              2020</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><i class="fas fa-clock pr-1"></i> 10:00 AM - 1:00
                              PM</a
                            >
                          </li>
                        </ul>
                      </div>
                      <p class="text-dark">
                        Next time you really want to achieve something, take
                        time to focus on your own personal.
                      </p>
                      <a class="btn btn-sm btn-dark btn-round" href="#"
                        >Join Event</a
                      >
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Event -->

    <!--=================================
    Team -->
    <%- include('partials/equipe_formateurs.ejs') %> 
    <!--=================================
    Team -->

    <!--=================================
    Feature-box -->
    <section>
      <div class="container-fluid px-0 mb-4">
        <div class="row no-gutters">
          <div class="col-lg-6 bg-dark p-0 p-xl-5">
            <div class="feature-box d-block d-sm-flex">
              <div class="feature-icon bg-white mb-4 mb-sm-0">
                <i class="flaticon-education text-dark"></i>
              </div>
              <div
                class="feature-content ml-0 ml-sm-4 ml-lg-5 text-center text-sm-left"
              >
                <h3 class="text-center text-sm-left">Formations professionnelles en présentiel </h3>
                <p class="mb-0 text-center text-sm-left">
                  Nos formations professionnelles sont disponibles en présentiel, mais également à distance. Notre mobilité nationale nous permet de former des collaborateurs au Gabon et en Afrique et a l’internationale. Nos formateurs se déplacent directement dans vos locaux, dans le cadre d’une session en intra entreprise. Nous disposons également de centres de formation, pour des sessions en inter entreprise.
                </p>
                <a href="/catalogue_formations" class="btn btn-white btn-round mt-4">Catalogue des formations</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 bg-primary p-0 p-xl-5">
            <div class="feature-box d-block d-sm-flex">
              <div class="feature-icon bg-white mb-4 mb-sm-0">
                <i class="flaticon-knowledge text-dark"></i>
              </div>
              <div
                class="feature-content ml-0 ml-sm-4 ml-lg-5 text-center text-sm-left"
              >
                <h3 class="text-center text-sm-left">Formations professionnelles à distance</h3>
                <p class="mb-0 text-center text-sm-left">
                  Dans le cadre d’une formation à distance, nous vous offrons la possibilité de former vos collaborateurs directement depuis chez eux ou depuis vos locaux.
Notez que certains programmes peuvent se dérouler sous forme de conférences. Si vous souhaitez plus d’informations, nous vous invitons à nous contacter. NB : La majorité de notre catalogue est accessible aux salariés en situation de handicap. Des mesures de compensation et d’adaptation de l’apprentissage pourront être mises en place, suite à un entretien.

                </p>
                <a
                  href="/catalogue_formations"
                  class="btn btn-white btn-round mt-4 text-center text-sm-left"
                  >Catalogue des formations</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Feature-box -->

    <!--=================================
    Articles -->
    <!-- <section class="space-ptb position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-10 text-center">
           
            <div class="section-title">
              <h2 class="title">Nos derniers articles</h2>
              <p>
                Veuillez consulter notre blog pour plus d'article
              </p>
            </div>
          
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-md-6 mb-4 mb-xl-0">
            
            <div class="blog">
              
              <div class="blog-image">
                <img
                  class="img-fluid border-radius"
                  src="images/bg/article.jpg"
                  alt=""
                />
              </div>
              
              <div class="blog-content pt-4">
                <h5 class="blog-title mb-3">
                  <a href="blog-detail.html"
                    >The problem with the push for more college degrees</a
                  >
                </h5>
                <div class="blog-meta mb-0">
                  <ul class="list-unstyled mb-0 d-flex">
                    <li class="mr-3">
                      <a href="#"
                        ><i class="fas fa-calendar-alt pr-1"></i> 15 Oct,
                        2020</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fas fa-clock pr-1"></i> 10:00 AM - 12:00
                        PM</a
                      >
                    </li>
                  </ul>
                </div>
                <p class="mt-3 mb-0">
                  Franklin’s extraordinary success in life and politics can be
                  attributed to his perseverance to overcome his personal
                  liabilities.
                </p>
              </div>
            </div>
            
          </div>
          <div class="col-xl-4 col-md-6 mb-4 mb-xl-0">
            
            <div class="blog">
              
              <div class="blog-image">
                <img
                  class="img-fluid border-radius"
                  src="images/blog/02.jpg"
                  alt=""
                />
              </div>
              
              <div class="blog-content pt-4">
                <h5 class="blog-title mb-3">
                  <a href="blog-detail.html"
                    >Free college proposals should include private colleges</a
                  >
                </h5>
                <div class="blog-meta mb-0">
                  <ul class="list-unstyled mb-0 d-flex">
                    <li class="mr-3">
                      <a href="#"
                        ><i class="fas fa-calendar-alt pr-1"></i> 20 Sept,
                        2020</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fas fa-clock pr-1"></i> 12:00 PM - 3:00 PM</a
                      >
                    </li>
                  </ul>
                </div>
                <p class="mt-3 mb-0">
                  Next time you really want to achieve something, take time to
                  focus on your own personal journal. What is your temptation.
                </p>
              </div>
            </div>
           
          </div>
          <div class="col-xl-4 col-md-6">
            
            <div class="blog">
              
              <div class="blog-image">
                <img
                  class="img-fluid border-radius"
                  src="images/blog/08.jpg"
                  alt=""
                />
              </div>
              
              <div class="blog-content pt-4">
                <h5 class="blog-title mb-3">
                  <a href="blog-detail.html"
                    >Universities must prepare for a technology-enabled
                    future</a
                  >
                </h5>
                <div class="blog-meta mb-0">
                  <ul class="list-unstyled mb-0 d-flex">
                    <li class="mr-3">
                      <a href="#"
                        ><i class="fas fa-calendar-alt pr-1"></i> 27 Nov,
                        2020</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fas fa-clock pr-1"></i> 4:00 PM - 6:00 PM</a
                      >
                    </li>
                  </ul>
                </div>
                <p class="mt-3 mb-0">
                  Get yourself nice and relaxed and settled. Concentrate on your
                  breathing, engage in the moment and spend some time being
                  still.
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section> -->
    <!--=================================
    Articles -->

    <!--=================================
    Call to action -->
    <%- include("partials/newsletters.ejs") %> 
    <!--=================================
    Call to action -->
  <%- include('partials/footer.ejs') %>

    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/jquery.appear.js"></script>
    <script src="js/counter/jquery.countTo.js"></script>
    <script src="js/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/swiper/swiper.min.js"></script>
    <script src="js/swiperanimation/SwiperAnimation.min.js"></script>
    <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="js/shuffle/shuffle.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>
  </body>

</html>
